VITE_FIREBASE_PROJECT_ID=nfc-manager-fv96
VITE_FIREBASE_APP_ID=1:369384689589:web:2a98456e0b9e38db1913fc
VITE_FIREBASE_STORAGE_BUCKET=nfc-manager-fv96.firebasestorage.app
VITE_FIREBASE_API_KEY=your_firebase_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=nfc-manager-fv96.firebaseapp.com
VITE_FIREBASE_MESSAGING_SENDER_ID=369384689589
